body {
	background:#141414;
	font-family:'Roboto',sans-serif;
}
.banner {
	position:relative;
	background:#282828;
	box-shadow:0px 0px 10px #000;
	z-index:2;
}
.nav li {
	display:inline-block;
}
.nav li a {
	font-size:18px;
	color:white;
	display:inline-block;
	text-align:center;
	padding:10px 20px;
	height:45px;
	text-decoration:none;
}
.nav li a:hover {
	cursor:pointer;
	background:#333;
	border-bottom:2px solid #c84b00;
	height:45px;
	box-sizing:border-box;
	text-decoration:none;
}
.logo {
	position:absolute;
	top:0px;
	right:50%;
	margin-right:250px;
	width:200px;
	height:250px;
	box-shadow:0px 0px 10px #000;
	background:#141414;
	z-index:3;
	text-align:center;
}
.logo img {
	margin-top:50px;
	width:200px;
	z-index:3;
}
.header img {
	display:none;
	box-shadow:0px 0px 10px #000;
	z-index:3;
}
.header {
	margin:0px;
	background:#141414;
	box-sizing:border-box;
	max-height:200px;
}
h1 {
	text-align:center;
	font-size:75px;	
	font-family:'Audiowide', 'impact', 'fantasy';
	margin:0px;
	padding: 20px 0px;
	color:#c84b00;
	text-shadow:0px 0px 5px #000;
}
h2 {
	color:#FFF;
	text-align:center;
	font-weight:100;
}
a {
	color:#FFF;
	text-decoration:underline;
}
a:hover {
	color:#EEE;
}
p {
	color:#FFF;
	font-size:18px;
	font-weight:100;
	max-width:750px;
	margin:auto;
}
.links-area {
	position:relative;
	clear:both;
	background:#333;
	color: #888;
	padding:5px;
	margin:0px;
	box-shadow:0px 0px 10px #000;
	z-index:2;
}
.links-area a {
	color:#888;
	text-decoration:none;
}
.links-area a:hover {
	color:#BBB;
}
.footer {
	position:relative;
	background:#c84b00;
	color:#FFF;
	padding:10px;
	box-shadow:0px 0px 10px #000;
	margin:0px;
	z-index:2;
}
.carousel {
	position:relative;
	height:450px;
	background:#1F1F1F;
	max-width:800px;
	margin:auto;
	z-index:1;
}
.carousel a {
	text-decoration:none;
	background:#FFF;
	background:none;
}
.carousel-control.left, .carousel-control.right{ 
	background: none !important; 
	filter: progid:none !important; 
}
@media (max-width: 1000px){
	h1 {
		font-size:55px;
	}
	.logo {
		margin-right:200px;
		width:150px;
		height:200px;
	}
	.logo img {
		width:150px;
	}
}
@media (max-width: 750px){
	h1 {
		font-size:45px;
	}
	.logo {
		margin-right:160px;
		width:125px;
		height:175px;
	}
	.logo img {
		width:125px;
	}
	.nav li a {
		padding:10px;
	}
}
@media (max-width: 585px){
	.logo {
		margin-right:155px;
		width:100px;
		height:100px;
	}
	.logo img {
		margin-top:0px;
		width:100px;
	}
}
@media (max-width: 520px){
	.logo {
		left:0%;
		width:90px;
		height:90px;
	}
	.logo img {
		width:90px;
	}
}
@media (max-width: 455px){
	h1 {
		font-size:40px;
		text-align:left;
		margin-left:100px;
	}
	.logo {
		left:0%;
		height:85px;
		width:85px;
	}
	.logo img {
		width:85px;
	}
}
@media (max-width: 340px){
	h1 {
		font-size:38px;
		margin-left:90px;
	}
	.logo {
		width:81px;
		height:81px;
	}
	.logo img {
		width:81px;
	}
}
@media (max-width: 310px){
	h1 {
		font-size:35px;
		text-align:center;
		margin-left:0px;
	}
	.nav li a {
		padding:5px;
		padding-top:10px;
	}
	.logo {
		display:none;
	}
}